/* breakpoints bootstrap -taille d'écran- */

/*
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 

}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 

}

// Small devices (portrait phones, 300px and up)
@media (max-width: 575.98px) { 

}
*/

/* app.scss fichier de surcharge */

/*imports des polices*/
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Lora:wght@600&family=Noto+Sans+JP&family=Orbitron:wght@600&display=swap');

/*utilisation des polices*/
/*
font-family: 'Balsamiq Sans', cursive;
font-family: 'Lora', serif;
font-family: 'Noto Sans JP', sans-serif;
*/

/*variables des polices*/

/*lora*/
$font1: 'Lora', serif;
/*noto*/
$font2: 'Noto Sans JP', sans-serif;
/*balsamiq*/
$font3: 'Balsamiq Sans', cursive;
/*font virtysens*/
$font4: 'Orbitron', sans-serif;

/*variables des couleurs*/

/*titre*/
$color1:  #1387c4;
/*texte*/
$color2: #07364e;
/*bouton cta*/
$color3: #1387c4;

/*reset html, body*/
*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    //overflow-x: hidden;
}
html, body {
    padding: 0 !important;
    margin: 0 !important;
    box-sizing: border-box;
    max-width: 100% !important;
}

main {

    width: 100% !important;
    height: auto;
    margin: 0 auto !important;
    max-width: 100% !important;
}


html {
    scroll-behavior: smooth;
}


/*class pour cacher des éléments*/
.hidden {
    display: none;
}


/*ligne de séparation dorée*/
.ligne-or {
    width: 65%;
    height: 5px;
    margin: 5vh auto;
    text-align: center;
    background-color: #E09813;
}

/*annule le style par defaut des balises em et strong*/
strong {
    font-weight: 500 !important;
}

em {
    font-style: normal !important;
}


/* temporaire ------------------------------------------------------------ */


/*taille de police de 12px*/
.font-12 {
    
    font-size: 14px !important;
    letter-spacing: 1px !important;
    font-weight: 400 !important;
    text-align: center !important;
    line-height: 20px !important;
}

