@charset "UTF-8";
/* root.scss */
/* imports des modules scss -imports des css de toutes les pages du site- */
/* breakpoints bootstrap -taille d'écran- */
/*
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 

}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 

}

// Small devices (portrait phones, 300px and up)
@media (max-width: 575.98px) { 

}
*/
/* app.scss fichier de surcharge */
/*imports des polices*/
@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Lora:wght@600&family=Noto+Sans+JP&family=Orbitron:wght@600&display=swap");
/*utilisation des polices*/
/*
font-family: 'Balsamiq Sans', cursive;
font-family: 'Lora', serif;
font-family: 'Noto Sans JP', sans-serif;
*/
/*variables des polices*/
/*lora*/
/*noto*/
/*balsamiq*/
/*font virtysens*/
/*variables des couleurs*/
/*titre*/
/*texte*/
/*bouton cta*/
/*reset html, body*/
*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  padding: 0 !important;
  margin: 0 !important;
  box-sizing: border-box;
}

main {
  width: 100% !important;
  height: auto;
  margin: 0 auto !important;
}

html {
  scroll-behavior: smooth;
}

/*class pour cacher des éléments*/
.hidden {
  display: none;
}

.clear {
  clear: both;
}

/*ligne de séparation dorée*/
.ligne-or {
  width: 65%;
  height: 5px;
  margin: 5vh auto;
  text-align: center;
  background-color: #E09813;
}

/*annule le style par defaut des balises em et strong*/
strong {
  font-weight: 500 !important;
}

em {
  font-style: normal !important;
}

/* temporaire ------------------------------------------------------------ */
/*taille de police de 12px*/
.font-12 {
  font-size: 10px !important;
  letter-spacing: 1px !important;
  font-weight: 200 !important;
  text-align: center !important;
  line-height: 20px !important;
}

/* scss du footer */
footer {
  margin: 0 !important;
  width: 100% !important;
  height: auto;
  background-color: #000 !important;
  border-top: 5px solid #E09813;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: auto;
  margin: auto;
  width: auto;
}

@media (min-width: 576px) {
  footer .footer-container .footer-copyright, footer .footer-container .footer-up {
    width: 20%;
    height: auto;
    margin: auto;
  }
  footer .footer-container .social-menu {
    width: 60% !important;
    height: auto;
    margin: auto;
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-evenly;
    align-items: center;
  }
  footer .footer-container .social-menu .social-link {
    width: 16px !important;
  }
}
@media (max-width: 575.98px) {
  footer .footer-container .social-menu {
    width: 200px !important;
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-evenly;
    align-items: center;
  }
  footer .footer-container .social-menu .social-link {
    width: 16px !important;
  }
}
/* scss du header et menu de navigation */
header {
  background-color: #000;
  border-bottom: 5px solid #E09813;
  width: 100%;
  height: auto;
  margin: 0 auto !important;
  padding: 0 !important;
  position: relative;
  /*menu de navigation*/
  /*titre du site dans le header*/
}
header nav {
  padding-right: 15px !important;
}
header nav .nav-link {
  font-family: "Orbitron", sans-serif;
}
header .header-title {
  margin: auto !important;
  position: absolute;
  background-attachment: scroll;
}
header .header-title h1 {
  font-family: "Orbitron", sans-serif;
}
header .header-title h2 {
  font-family: "Orbitron", sans-serif;
}

/* ------------------------------------------------------------------------------------------- */
@media (min-width: 1200px) {
  header {
    /*menu de navigation*/
    /*titre du site dans le header*/
  }
  header nav .nav-item .nav-link {
    width: auto;
    letter-spacing: 2px;
    font-size: 1.3em !important;
  }
  header .header-title {
    margin: auto !important;
  }
  header .header-title h1 {
    font-size: 1.6em;
    margin: auto;
  }
  header .header-title h2 {
    margin: 10px auto;
    font-size: 1em;
  }
}
/* ------------------------------------------------------------------------------------------- */
@media (min-width: 992px) {
  header {
    /*menu de navigation*/
    /*titre du site dans le header*/
  }
  header nav .nav-item .nav-link {
    width: auto;
    letter-spacing: 1px;
    font-size: 1em;
  }
  header .header-title {
    margin: -40px auto auto 0px !important;
    padding-left: 40px;
  }
  header .header-title h1 {
    font-size: 1.4em;
  }
  header .header-title h2 {
    margin: 10px auto;
    font-size: 0.9em;
  }
}
/* ------------------------------------------------------------------------------------------- */
@media (min-width: 577px) {
  header {
    /*menu de navigation*/
    /*titre du site dans le header*/
  }
  header nav .nav-item .nav-link {
    width: auto;
    letter-spacing: 1px;
    font-size: 1em;
  }
  header nav .nav-menu {
    margin-top: 80px !important;
  }
  header .header-title {
    margin: -40px auto auto 0px !important;
    padding-left: 90px !important;
    position: absolute;
    background-attachment: scroll;
    top: 170px;
    left: 25px !important;
  }
  header .header-title h1 {
    font-size: 1.2em;
  }
  header .header-title h2 {
    margin: 10px auto;
    font-size: 0.8em;
  }
}
/* ------------------------------------------------------------------------------------------- */
@media (min-width: 576px) {
  header {
    /*menu de navigation*/
    /*titre du site dans le header*/
  }
  header nav .nav-item .nav-link {
    width: auto;
    letter-spacing: 1px;
    font-size: 1.1em;
  }
  header nav .navbar-brand figure img {
    width: 72px;
  }
  header nav .nav-menu {
    margin-top: 30px !important;
  }
  header .header-title {
    margin: auto;
    padding-left: 50px !important;
  }
  header .header-title h1 {
    font-size: 1em;
  }
  header .header-title h2 {
    margin: 10px auto;
    font-size: 0.8em;
  }
}
/* ------------------------------------------------------------------------------------------- */
@media (max-width: 575.98px) {
  header {
    /*menu de navigation*/
    /*titre du site dans le header*/
  }
  header nav .nav-item .nav-link {
    width: auto;
    font-size: 1.1em;
  }
  header nav .navbar-brand figure img {
    width: 84px !important;
  }
  header nav .nav-menu {
    margin-top: 50px !important;
  }
  header .header-title {
    margin: -80px auto auto -20px !important;
    padding-left: 70px;
    top: 170px;
  }
  header .header-title h1 {
    font-size: 1em;
  }
  header .header-title h2 {
    margin: 10px auto;
    font-size: 0.7em;
  }
}
/* ------------------------------------------------------------------------------------------- */

/*# sourceMappingURL=root.css.map */
